body{
    font-family: 'League Spartan', sans-serif;
   font-family: 'Montserrat', sans-serif;
   font-family: 'Poppins', sans-serif;
   font-family: 'Roboto', sans-serif;
  
}






*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
   
}

a{text-decoration: none;
}

ul{
    list-style: none;
}
.btn{
    display: block;
    border-radius: 30px;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-transform: uppercase;
    

}

h2{
   font-size:30px;
}


p{
    font-size: 18px;
}

     /*HEADER START*/


header{
  background-image: url('/assets/img/banner-bg.png');
   color: white;
   padding-top: 20px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;
   padding-bottom: 300px;
  
}

.container{
    max-width: 1340px;
    margin: 0 auto;
}

.all__header .header__menu{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
   
    
}
.all__header .navbar .menu__list{
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
    text-transform: uppercase;
}
.all__header .header__menu   .header__logo{
    font-size: 24px;
}
.all__header .navbar .menu__list li a{
    color: white;
    font-size: 18px;
    font-weight: 400;
}
.all__header .navbar .menu__list li a:hover{
    color: orange;

}
.all__header .navbar .menu__list   .sub__menu{
    display: none;
}


  /*DROW DOWN-IN USTUNE GELENDE ALT MENU ACILIR AMMA USTUNE GELMEK OLMUR SRAZU BAGLANIR */

  

.all__header .navbar .menu__list li:hover .sub__menu{
    display: block;
}
.all__header .navbar .menu__list .sub__menu{
   
    position: absolute;
    background-color: white;
    margin-top: 10px;
    width: 200px;
    transition: 2s;
   
    

}
.all__header .navbar .menu__list .sub__menu li{
   
   
    border-bottom: 1px solid rgb(250, 238, 238);
    padding: 10px;
   
}

.all__header .navbar .menu__list .sub__menu li a{
    color: rgb(94, 92, 92);
    font-size: 18px;
    text-transform: uppercase;

}
.all__header .navbar .menu__list  .drop__down  .sub__menu li a:hover  .all__header .navbar .menu__list  .drop__down .sub__menu li{
    border-left: 4px solid red;
    transition: 0.5;
}

.all__header .navbar .menu__list .sub__menu li a:hover{
    color: red;
   
   
}

  /* ASAGIDA DROP MENYU HOVER OLANDA SAGDA YARANAN QIRMIZI XETT UCUN YAZMISAM ISLEMEDI */

.all__header .navbar .menu__list .sub__menu li a:hover .sub__menu li{
    border-left: 2px solid red;
    transition: 0.5;
}

 
 





.all__header .header__boxes{
    margin-top: 100px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.all__header  .header__boxes .header__box{
    width: 500px;
}

.all__header  .header__boxes .header__box h1{
    font-size: 55px;
    font-weight: 400;
}
.all__header  .header__boxes .header__box h1 span{
    font-weight: 800;
}

.all__header  .header__boxes .header__box p{
    padding-top: 50px;
    line-height: 36px;
    font-size: 18px;
}

.all__header .header__boxes .header__box .btn{
    margin-top: 30px;
    width:150px;
    padding: 10px 0px 10px 0px;
    background-color: rgba(236, 66, 66, 0.945);
   
}  


 .all__header .header__boxes .header__box a:hover{
    background-color: rgb(44, 44, 248);
}

/*HEADER END*/


/*ABIUT START*/


.about{
    position: relative;
    
}
.about__box{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  padding-bottom: 100px;
}

.about__content {
    width: 500px;

}
.about__content  h2{
    width: 400px;
    font-size:30px;
    font-weight: 900;
    line-height: 40px;
}
.about__content  p{
   
    padding-top: 30px;
    line-height: 32px;
}
.about__box .btn{
    margin-top: 30px;
    width: 150px;
    background-color: rgb(26, 161, 161);
    padding: 10px;
    font-size: 14px;
  
}
.about::after{
    content: '';
   position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(121, 112, 112);
    opacity: 0.3;
}



/*ABOUT END*/

/*FORMAT START*/


.format__info{
    margin-top:100px ;
    display: flex;
    gap: 30px;
    padding-bottom: 100px;
}
.format__info .format__content{
    width: 500px;
}

.format__info .format__content h2{
    font-size: 30px;
    font-weight: bold;
}
.format__info .format__content p{
    margin-top:30px ;
   
    line-height: 30px;
    color: rgb(78, 77, 77);
}

.format__info .format__content .format__menu{
    margin-top: 20px;
    display: flex;
    gap:30px;
    align-items: start;
}
.format__info .format__content .format__menu h3{
    padding-top: 10px;
    font-size: 24px;
}

      /*FORMAT END*/

     /*SERVICES START8*/

.services{
    background-color: rgb(5, 134, 255)
}
.services__boxes{
    display: flex;
    gap: 35px;
   
    padding: 100px 0px 100px 0px;
    
}
.services__boxes .services__box{
    
    width:370px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.services__boxes .services__box .services__photo{
    margin-top:40px ;
    display: flex;
    width: 100px;
    height: 100px;
    background-color:rgb(5, 134, 255) ;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.services__boxes .services__box .services__content{
    display: flex;
    flex-direction:column;
    justify-content: center;
   align-items: center;
}

.services__boxes .services__box .services__content h3{
    margin-top: 30px;
    font-size: 20px;
    font-weight:600;
    text-align: center;
    color: rgb(31, 28, 28);

}
.services__boxes .services__box .services__content p{
    margin: 30px ;
  text-align: center;
  font-size: 16px;
    
    color: rgb(99, 98, 98);
    
}
.services__boxes .services__box .services__content  .btn{
     margin-bottom: 40px;
    padding:10px 0px 10px 0px ;
    width: 120px;
    background-color:rgb(5, 134, 255) ;
    
}
/*SERVICES END*/

/*QUESTION START*/
.question__header h2{
    margin-top: 100px;
    text-align: center;
    font-size:55px ;
    font-weight: 100;
}
.question__header p{
   padding:0px 310px 0px 310px;
    text-align: center;
    margin-top: 30px;
    color: rgb(61, 58, 58);
}
.questions__boxes{
    margin-top:50px ;
    display: flex;
    gap: 30px;

}



.questions__boxes .question__box {
    width: 580px;
}



.questions__boxes .question__box h3{
    margin-top: 10px;
    padding-right: 150px;
   font-size: 32px;
   font-weight:600;
   line-height:40px;
}
.questions__boxes .question__box p{
    margin-top:40px ;
    
    line-height:30px;
    color: rgb(65, 63, 63);

}
.questions__boxes .question__box span{
    display: block;
    margin-top: 40px;
    font-size: 24px; 
    color: rgb(65, 63, 63);
    margin-bottom: 60px;
}
.questions__boxes .question__box span a{
    color:rgb(5, 134, 255)  ;
}
.questions__boxes  .question__box .btn{
    margin-top: 40px;
   
    padding: 15px 0px 15px 0px;
    width: 120px;
    background-color:rgb(5, 134, 255) ;
}
.question__answer{
    
    width: 580px;
    background-color: rgb(240, 235, 235);

}

.question__answer  h3  {
    border-bottom: 1px solid white;
}

.question__answer h3{
    padding:20px 0px 20px 20px;
    font-size: 24px;
    font-weight: 300;

}
.question__answer .sections{
    display: flex;
    align-items: center;
   
    border-bottom: 1px solid white;
    
}
.question__answer div{
    border-bottom: 1px solid white;
}


.question__answer  div p{
    padding: 10px 20px 10px 10px;


}



/*ASAGIDA ISTEYIRDOM HER LI-NIN ALTINDAN XETT CEKILSIN.TEK EN AXIRDA CEKILIR */

/*BIR DE HER SUALA BASANDA MELUMATIN ACILMASINI ELEYE BILMEDIM*/

 /*   .questions__boxes  .question__answer ul li a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 2px;
    background-color: white; } */



/*QUESTION END*/
/*CONTACT START*/
.contact__menu{
    margin-top: 100px;
    display: flex;
}
.contact__menu   .message__box{ 
    background-color:rgb(5, 134, 255)  ;
    width: 950px;
    height: 450px;
    padding: 100px 0px 0px 80px;
}

.contact__menu    .message__box input{
    
    background-color:rgb(153, 203, 250) ;
    padding:15px 0px 15px 15px ;
    border: none;
    width:350px;
    font-size: 18px;
    color: white;
    margin-left: 20px;

}
.contact__menu    .message__box textarea{
    margin:25px 0px 0px 20px;
    padding:15px 0px 0px 15px ;
    background-color:rgb(153, 203, 250) ;
   width: 722px;
   height: 150px;
   border: none;
   font-size:18px ;
   color: white;
}

.contact__menu    .message__box .button{
    background-color: rgb(216, 86, 86);
    border-radius: 30px;
    width: 110px;
    text-align: center;
    padding-right: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 30px;
    margin-left: 330px;
   

}
/*CONTACT END*/
/*FOOTER HISSEDE LINKLER YUKLENILMIR */

.footer{
    margin-top: 70px;
    padding-bottom: 70px;
} 
.footer    .footer__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer    .footer__menu  .author span{
    font-size: 18px;
    color: rgb(92, 91, 91);
    
}
.footer    .footer__menu  .author span a{
    color:rgb(5, 134, 255)
}
.footer    .footer__menu .footer__list ul{
    display: flex;
    gap: 20px;
    font-size: 40px;
    color:rgb(5, 134, 255) ;
}
.footer    .footer__menu .footer__list ul a{
    color:rgb(5, 134, 255) ;
}